body {
    background-color: antiquewhite;
}

.gallery {
    float: left;
    flex-wrap: wrap;
}

.photo-card {
    float: left;
    padding: 30px;
    flex: 1;
}


img {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 1200px) {
    .gallery, .photo-card{
        float: left;

    }
}
@media screen and (max-width: 900px) {
    .gallery, .photo-card {
        float: left;
    }
}
@media screen and (max-width: 600px) {
    .gallery, .photo-card {
        float: none;
        width: 100%;
    }
}